.header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #5277a3;
    padding:1.2rem 3rem 0.6rem;
}

.header .image-wrapper{
    width:25%
}
.header .image-wrapper > imh{
    width:30px;
    height:30px;
}

.header .wrapper{
    margin-left:16px;
    width:calc(75%-16px);
    border-radius:30px;
    background-color:#2c4a76;
    position:relative;
}

.header .wrapper > input::placeholder{
    color:#607d9f
}

.header .wrapper > span{
    color:#607d9f;
    position: absolute;
    top: 12px;
    left:45%;
    font-size: 20px;
}